body {
    background: #c6e7f7;
}


.blog-box {
    padding: 50px;
}

.list-box {
    border: 10px solid gray;
    padding: 50px;
    border-radius: 50px;
}

.list-box-1 {
    border: 10px solid gray;
    padding: 50px;
    border-radius: 50px;
}


.blog-btn {
    margin-top: 20px;
    background-color: teal;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
}

.content-box {
    margin: 100px 30px;
}

.navbar {
    background: #34ebcf;
}

.navbar li {
    padding: 8px 20px;
}

.navbar li:hover {
    background: #34ebcf;
    color: white;
}